@media screen and (max-width: 240px) and (min-width: 200px)
	body
		margin 0
		padding 0

	header
		width 220px

		.logo1
			display none

		.navbar
			margin 5px 0 0 0


		.login
			width 220px

			form
				margin 0 0 0 5px

			ul
				width 200px

				li
					padding 2px

				label
					font-size 12px
					width 90px

				input
					width 195px
					font-size 12px
					padding-right 30px
					padding 5px

		.submit
			padding 10px 17px

	.proyectos
		h2
			font-size 14px

		ul
			width 100%

			li
				width 90px
				height 100px
				margin 0px 0px 20px 10px

				a
					width 90px

				img
					width 90px
					height 100px

				span
					font-size 16px

	.pie
		width 215px

		ul
			li
				width 210px

		.tiempo
			display none

@media screen and (max-width: 320px) and (min-width: 240px)
	body
		margin 0
		padding 0

	header
		width 300px

		.logo1
			display none

		.navbar
			margin 5px 0 0 0


		.login
			width 300px

			form
				margin 0 0 0 5px

			ul
				width 290px

				li
					padding 2px

				label
					font-size 12px
					width 90px

				input
					width 260px
					font-size 12px
					padding-right 30px
					padding 5px

		.submit
			padding 10px 17px

	.proyectos
		h2
			font-size 14px

		ul
			width 100%

			li
				width 120px
				height 100px
				margin 0px 0px 20px 10px

				a
					width 120px

				img
					width 120px
					height 100px

				span
					font-size 16px

	.pie
		width 300px

		ul
			li
				width 297px

		.tiempo
			display none

@media screen and (max-width: 480px) and (min-width: 320px)
	body
		margin 0
		padding 0

	header
		width 460px

		.logo1
			display none

		.logo2
			img
				width 460px
				height 182px

		.navbar
			margin 5px 0 0 0

		.login
			width 460px

			form
				margin 0 0 0 5px

			ul
				width 455px

				li
					padding 2px

				label
					font-size 14px
					width 100px
					padding 5px 5px 0px 0px
					text-align right

				input
					width 260px
					font-size 12px
					padding-right 30px
					padding 5px

				input:focus
					padding-right 20px

		.submit
			padding 10px 17px

	.proyectos
		h2
			font-size 14px

		ul
			width 100%

			li
				width 130px
				height 120px
				margin 0px 0px 20px 10px

				a
					width 130px

				img
					width 130px
					height 120px

				span
					font-size 16px

	.pie
		width 440px
		margin 0 15px 10px 15px

		ul
			width 230px

			li
				width 230px

		.tiempo
			text-align center

			span
				font-size 2em
				margin 10px 0 0 0
				display block
				font-weight bold

			h2
				font-size 8em
				margin 30px 0 0 0

			h3
				margin 30px 0 0 0
				font-size 2em

@media screen and (max-width: 360px) and (min-width: 320px)
	body
		margin 0
		padding 0

	header
		width 360px

		.logo2
			img
				width 360px
				height 142px

		.navbar
			margin 5px 0 0 0

		.login
			width 360px

			form
				margin 0 0 0 5px

			ul
				width 360px

				li
					padding 2px

				label
					font-size 14px
					width 100px
					padding 0
					text-align left

				input
					width 300px
					font-size 12px
					padding-right 30px
					padding 5px

				input:focus
					padding-right 20px

		.submit
			padding 10px 17px

	.proyectos
		h2
			font-size 14px

		ul
			width 100%

			li
				width 140px
				height 130px
				margin 0px 0px 20px 10px

				a
					width 140px

				img
					width 140px
					height 130px

				span
					font-size 16px

	.pie
		width 360px
		margin 0

		ul
			width 100%

			li
				width 100%

		.tiempo
			display none

@media screen and (max-width: 640px) and (min-width: 480px)
	body
		margin 0
		padding 0

	header
		width 640px

		.logo1
			width 300px

		.logo2
			width 300px

			img
				width 300px
				height 119px

		.navbar
			margin 5px 0 0 0

		.login
			width 300px

			form
				margin 0 0 0 5px

			ul
				width 300px

				li
					padding 2px

				label
					font-size 14px
					width 100px
					padding 5px 5px 0px 0px
					text-align right

				input
					width 90px
					font-size 12px
					padding-right 30px
					padding 5px

				input:focus
					padding-right 20px

		.submit
			padding 10px 17px

	.proyectos
		h2
			font-size 14px

		ul
			width 100%

			li
				width 130px
				height 120px
				margin 0px 0px 20px 10px

				a
					width 130px

				img
					width 130px
					height 120px

				span
					font-size 16px

	.pie
		width 600px
		margin 0 15px 10px 15px

		ul
			width 230px
			margin 5px 0 0 5px

			li
				width 230px

		.tiempo
			text-align center

			span
				font-size 2em
				margin 10px 0 0 0
				display block
				font-weight bold

			h2
				font-size 8em
				margin 30px 0 0 0

			h3
				margin 30px 0 0 0
				font-size 2em


@media screen and (max-width: 2024px) and (min-width: 1024px)
	body
		margin 0
		padding 0
		background url("../img/logo2.png") repeat;

	header
		width 1000px
		margin 0px auto
		background #FFFFFF

		.logo1
			width 350px

			img
				width 350px
				height 138px

		.logo2
			width 350px

			img
				width 350px
				height 138px

		.navbar
			margin 5px 0 0 0

		.login
			width 290px
			position absolute
			margin 10px 0 0 710px
			top 0px

			form
				margin 0 0 0 5px

			ul
				width 300px

				li
					padding 2px
					border-bottom none

				label
					font-size 13px
					width 85px
					padding 5px 5px 0px 0px
					text-align right

				input
					width 140px
					font-size 12px
					padding-right 30px
					padding 5px

				input:focus
					padding-right 20px

		.submit
			padding 10px 17px

	.proyectos
		width 1000px
		margin 0 auto
		background #FFFFFF

		h2
			font-size 14px

		ul
			width 100%

			li
				width 148px
				height 120px
				margin 0px 0px 20px 10px

				a
					width 148px

				img
					width 148px
					height 120px

				span
					font-size 16px

	.pie
		width 1000px
		margin 0 auto

		ul
			width 230px
			margin 5px 0 0 5px

			li
				width 230px

		.tiempo
			text-align center

			span
				font-size 2em
				margin 10px 0 0 0
				display block
				font-weight bold

			h2
				font-size 8em
				margin 30px 0 0 0

			h3
				margin 30px 0 0 0
				font-size 2em