@charset "utf-8";
/* CSS Document */
/*No Borrar*/
div.paginacion {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: 10px auto;
	text-align: center;
	padding: 5px 5px;
	white-space: nowrap;
	font: 12px Georgia;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:100px;
}
.contenido1 {
	background:#ACD6DD;
	border:1px #CCC outset;
	padding:3px 2px;
	text-transform:capitalize;
	color:#FFF;
	margin:3px auto;
}
.contenido2 {
	background:#79B714;
	border:1px #CCC outset;
	padding:3px 2px;
	text-transform:capitalize;
	color:#FFF;
	margin:3px auto;
}
.SiteBloqueado {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: 20% auto;
	text-align: center;
	padding: 5px 5px;
	font: 12px Georgia;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:300px;
}
/*No Borrar*/
body {
	background:#3399FF;
	font-family:Verdana, Geneva, sans-serif;
}
a {
	color:#666;
	text-decoration:none;
}
a:hover {
	color:#CCC;
}
.scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0; left: 0;
}
.vscrollerbase {
	width:22px;
}
.vscrollerbar {
	background-image: url(imagenes/scrollbar.png);
	width: 25px;
	height: 64px !important;
	background-image: url(imagenes/scrollbar.png);
}

* html .vscrollerbar {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='imagenes/scrollbar.png');
	background-image: none;
}
.hscrollerbase {height: 22px;}
.hscrollerbar {height: 22px; background-color: #84ADD6;}
.vscrollerbar, .hscrollerbar {
	padding: 15px;
	z-index: 2;
}
.scrollerjogbox {
	width: 22px;
	height: 22px;
	top: auto; left: auto;
	bottom: 0px; right: 0px;
	background: #698AAA;
}
.pagina {
	width: 1000px;
	margin: 0 auto 0 auto;
}
.separador {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-image: url(imagenes/separador1.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	padding-left: 10px;
	font-weight: bold;
}
.separador2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-image: url(imagenes/separador1.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	padding-left: 10px;
	font-weight: bold;
	text-align: center;
}
#menuh {
	font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-left:10px;
}
#menuh ul, li {
	list-style-type: none;
}
#menuh ul {
	margin: 0;
	padding: 0;
}
#menuh a {
	text-decoration: none;
	color: #FFF;
	font-size:17px;
	height:30px;
	background:url(imagenes/item-menu.jpg) no-repeat;
	display: block;
	padding: 5px 10px;
	text-align:left;
}
#menuh a#primero {
	background:url(imagenes/item-menu.gif) no-repeat;
}
#menuh a:hover {
	background:url(imagenes/item-menu.gif) no-repeat;
}
.menu_title {
	background-image: url(imagenes/titulo-items.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	padding: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bolder;
	padding-left: 15px;
	text-transform: capitalize;
	font-size: 18px;
}
h2 {
	background-image: url(imagenes/linea-horizontal-naranja.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: auto;
	padding: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00CCFF;
	font-weight: bolder;
	padding-left: 15px;
	text-transform: capitalize;
	font-size: 24px;
}
#gran-conten {
	background-image: url(imagenes/linea-horizontal-naranja.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 90%;
	padding: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: normal;
	padding-left: 15px;
	text-transform: none;
	font-size: 12px;
}
.footer {
	background-image: url(imagenes/info-pie.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 30px;
	padding: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: normal;
	padding-left: 20px;
	text-transform: capitalize;
	font-size: 11px;
	padding-right: 20px;
	text-align:center;
}
.medio-titulo {
	background-image: url(imagenes/linea-horizontal-naranja.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: auto;
	padding: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00CCFF;
	font-weight: bolder;
	padding-left: 15px;
	text-transform: capitalize;
	font-size: 15px;
	padding-top: 20px;
}
.medio-conten {
	background-repeat: repeat-x;
	background-position: center bottom;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: normal;
	text-transform: none;
	font-size: 12px;
}
#menu {
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background:url(imagenes/img4.jpg) repeat-y;
	width:99%;
	height:35px;
	position:relative;
}

#menu ul, li {
	list-style-type: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu li {
	float: left;
}

#menu a {
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 7px 10px;
	font-size:16px;
	font-weight:bold;
}

#menu a#primero {
	color:#000;
}

#menu a:hover {
	color:#000;
}