<!--
* {
	padding:0;
	margin:0;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background:url(images/bg.png) repeat;
}
img {
	border:0;
}
#templatemo_topheader {
	width:901px;
	height:128px;
	margin:0 auto;
}
#templatemo_topheader .logo {
	float:left;
	padding:10px 25px;
	width:212px;
	height:65px;
	background:url(images/logo.png) no-repeat center;
}
#templatemo_topheader .logo:hover {
	float:left;
	padding:11px 25px;
	width:212px;
	height:65px;
	background:url(images/logo.png) no-repeat center;
}
#templatemo_topheader .help {
	float:right;
	padding:0px 0 0 0;
}
#templatemo_topheader .telefonos{
	float:right;
	/*border:1px #CCC solid;*/
	color:#000;
	margin: 45px -205px 0px 0px;
	width: 200px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serifl;
}
#templatemo_topmenu {
	float:left;
	background:url(images/templatemo_menu_bg.jpg) repeat-x;
	height:38px;
	margin:5px 0 0 0;
}
#templatemo_topmenu ul {
	background:url(images/templatemo_menu_bgLeft.jpg) no-repeat left top;
	line-height:38px;
	float:left;
	list-style:none;
	width:902px;
}
#templatemo_topmenu li {
	display:inline;
}
#templatemo_topmenu a {
	float:left;
	text-decoration:none;
	color: #FFF;
	font-weight: bold;
	display:block;
	padding:0 21px 0 22px;
	background: url(images/templatemo_menu_seprator.jpg) no-repeat right;
}
#templatemo_topmenu a.right {
	float:right;
	background: url(images/templatemo_menu_bgRight.jpg) no-repeat right;
}
#templatemo_header {
	height:263px;
	border-top:5px solid #FFF;
	overflow:hidden;
	width:100%;
	float:left;
	background: url(images/templatemo_headerimg_bg.jpg);
}
#templatemo_header .image {
	width:762px;
	margin:0 auto;
}
#templatemo_contents {
	clear:both;
	float:none;
	width:762px;
	margin:0 auto;
	background:url(images/templatemo_content_bg.jpg) repeat-x top;
}
#templatemo_panels {
	margin:0 0 15px 0;
	text-align: center;
	padding-left: 2px;
}
#templatemo_panels ul {
	list-style:none;
}
#templatemo_panels li {
	display:inline;
	padding-right:2px;
}
#templatemo_left_reseller {
	background:url(images/templatemo_reseller_bg.jpg) no-repeat;
	width:492px;
	height:172px;
	/*float:left;*/
}
#templatemo_left_reseller h1 {
	padding:5px 0 0 15px;
	font-family: Arial, Helvetica, sans-serifl;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
#templatemo_left_reseller h1 span {
	font-size:18px;
	font-weight:normal;
}
#templatemo_left_reseller h1 strong {
	font-size:26px;
	text-transform:uppercase;
	color:#FF0000;
}
#templatemo_left_reseller ul {
	list-style:none;
	margin:20px 0 0 15px;
}
#templatemo_left_reseller ul li {
	background:url(images/templatemo_reseller_planbg.jpg) no-repeat;
	padding:0 0 0 25px;
	line-height:27px;
}
#templatemo_left_reseller ul li span {
	color:#FF0000;
}
#templatemo_left_reseller .ordernow {
	margin:5px 0 0 15px;
}
#templatemo_right_ssl {
	background:url(images/templatemo_ssl_bg.jpg) no-repeat;
	width:259px;
	height:172px;
	/*float:right;*/
}
#templatemo_right_ssl .mtext {
	padding: 120px 5px 0 45px;
}
#templatemo_right_ssl a {
	text-decoration:none;
	color:#e33f05;
	font-weight:bold;
}
/******/
#templatemo_left_welcome {
	background:url(images/templatemo_welcome_bg.jpg) no-repeat;
	width:434px;
	height:119px;
	/*float:left;*/
	margin-top:15px;
}
#templatemo_left_welcome h1 {
	padding:15px 0 0 15px;
	font-size:18px;
	color:#5f6368;
}
#templatemo_left_welcome h1 span {
	font-size:18px;
	color:#f48b03;
}
#templatemo_left_welcome p {
	padding:15px 0 0 15px;
	font-size:11px;
}
/* Search BOx*/
#templatemo_right_search {
	background:url(images/templatemo_domainsearch_bg.jpg) no-repeat;
	width:307px;
	height:118px;
	/*float:right;*/
	margin-top:15px;
}
#templatemo_right_search h2 {
	font-family:Arial, Helvetica, sans-serif;
	padding:15px 0 0 10px;
	font-size:14px;
	color:#FFF;
}
#templatemo_right_search p {
	padding:10px 0 0 15px;
	font-size:11px;
	color:#CCCCCC;
}
#templatemo_right_search form {
	padding:10px 0 0 15px;
	font-size:11px;
}
#templatemo_right_search .register {
	margin:5px 0 0 0;
	display:block;
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
	background:url(images/templatemo_arow.jpg) no-repeat 120px 0px;
}
#templatemo_partners {
	/*float:left;*/
	width:762px;
	height:60px;
	margin:20px auto;
	background:url(images/templatemo_partners.jpg) no-repeat center;
}
#templatemo_footer {
	border-top:5px solid #FFF;
	margin:0 auto 0 auto;
	width:902px;
	background:#3d3f41;
	height:70px;
}
#templatemo_footer .links {
	width:762px;
	margin:0 auto;
	border-bottom:1px solid #000;
	color:#000;
	padding:10px 0 10px 0;
	line-height:16px;
	text-align:center;
	font-weight:bold;
}
#templatemo_footer .links a {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#templatemo_footer .links a:hover, #templatemo_footer .links a:visited {
	color:#a9a6a6;
}
#templatemo_footer .copyright {
	color:#a9a6a6;
	text-decoration:none;
	text-align:center;
	font-size:10px;
	padding:7px 0 0 0;
}
#templatemo_footer .copyright a, a:hover {
	color:#a9a6a6;
}
#templatemo_footer .copyright a:hover {
	color:#ffffff;
}
#templatemo_innercontents {
	clear:both;
	float:none;
	margin:0 auto;
	border-top:0px solid #FFF;
	background:url(images/templatemo_innerbg.jpg) no-repeat top;
}
.derechabloques {
	margin:5px 10px;
}
#templatemo_innercontents h1 {
	padding:10px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight: normal;
	/*border-bottom:1px dotted #000;*/
}
#templatemo_innercontents h2 {
	padding:10px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight: normal;
	/*border-bottom:1px dotted #000;*/
}
#templatemo_innercontents p.contents {
	padding:10px 20px;
}
#templatemo_innercontents strong.red {
	padding:10px 20px;
	color:#c90808;
	font-size:14px;
	line-height:24px;
	text-transform:uppercase;
}
DIV.base-layer {
	border: solid #FFF 1px;
	padding: 0;
	text-align: center;
	width: auto;
}
DIV.MyTableRowClass {
	width: 100%;
}
DIV.MyMainTableRowClass1 {
	float: left;
	margin: 0;
	padding: 0;
	width: 40%;
	font-family:Arial, verdana;
	line-height: 24px;
	border-bottom:2px solid #FFF;
}
DIV.MyMainTableRowClass2 {
	float: left;
	margin: 0;
	text-align:center;
	padding: 0;
	width: 20%;
	font-family:Arial, verdana;
	line-height: 24px;
	border-bottom:2px solid #FFF;
}
DIV.MyMainTableRowClass3 {
	float: left;
	margin: 0;
	text-align:center;
	padding: 0;
	width: 20%;
	font-family:Arial, verdana;
	line-height: 24px;
	border-bottom:2px solid #FFF;
}
DIV.MyMainTableRowClass4 {
	float: left;
	margin: 0;
	text-align:center;
	padding: 0;
	width: 20%;
	line-height: 24px;
	border-bottom:2px solid #FFF;
}
DIV.Even {
	background:#f8f8f8;
}
DIV.Odd {
	background:#f1f0f0;
}
H5.MyTableHeaderClass {
	background: #3d3f41;
	text-align:center;
	padding:0 0 0 10px;
	color:#FFF;
	font-family: Arial, verdana;
	line-height: 30px;
	font-size:14px;
	font-weight:bold;
}
.Odd P, .Even p {
	font-family:Arial, verdana;
	text-align:center;
	padding:0 0 0 10px;
}
-->
/* slider */
#slider_wrapper {
	clear: both;
	margin:0px auto 0 auto;
	width: 902px;
	height: 287px;
	margin-bottom: 15px;
	background: url(images/slider_bottom.png) bottom no-repeat
}

#slider_wrapper_n { clear: both; width: 902px; padding: 30px; margin-bottom: 15px; background: #000 url(images/slider_bottom.png) no-repeat bottom } 
#slider_wrapper_n h2 {
	color: #fff;
	background:#A90305;
}
#slider_wrapper_n p { font-size: 16px }

#slider { 
	width: 902px;
	height: 280px;
	overflow: hidden;
}
/* end of slider */

.paginacion {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: 10px auto;
	text-align: center;
	padding: 5px 5px;
	white-space: nowrap;
	font: 12px Georgia;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:100px;
}
.contenido1 {
	background-color:transparent;
	border-width:1px;
	border-color:#000000;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow:0px 0px 20px 2px #000000;
	-webkit-box-shadow:0px 0px 20px 2px #000000;
	box-shadow:0px 0px 20px 2px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: linear-gradient(top, #ffffff, #ffffff);
	padding:10px 10px;
	text-transform:capitalize;
	color:#666;
	margin:5px auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.contenido2 {
	background-color:transparent;
	border-width:1px;
	border-color:#000000;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow:0px 0px 20px 2px #000000;
	-webkit-box-shadow:0px 0px 20px 2px #000000;
	box-shadow:0px 0px 20px 2px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
	background-image: -moz-linear-gradient(top, #17e1ff, #17e1ff);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#17e1ff), to(#17e1ff));
	background-image: -o-linear-gradient(top, #17e1ff, #17e1ff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: linear-gradient(top, #ffffff, #ffffff);
	padding:10px 10px;
	text-transform:capitalize;
	color:#666;
	margin:3px auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.SiteBloqueado {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: 20% auto;
	text-align: center;
	padding: 5px 5px;
	font: 12px Georgia;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:300px;
}
.inp-form {
	background: url(images/form_inp.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 186px;
}
.form-textarea {
	background: url(images/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 378px;
}
.form-submit {
	background: url(images/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	height: 30px;
	margin: 5px 5px;
	padding: 0;
	text-indent: -3000px;
	width: 80px;
}
.form-reset {
	background: url(images/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	margin: 5px 5px;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
}