@charset "utf-8";
/* CSS Document */
/*No Borrar*/
div.paginacion {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: 10px auto;
	text-align: center;
	padding: 5px 5px;
	white-space: nowrap;
	font: 12px Georgia;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:100px;
}
.contenido1 {
	background:#ACD6DD;
	border:1px #CCC outset;
	padding:3px 2px;
	text-transform:capitalize;
	color:#FFF;
	margin:3px auto;
}
.contenido2 {
	background:#79B714;
	border:1px #CCC outset;
	padding:3px 2px;
	text-transform:capitalize;
	color:#FFF;
	margin:3px auto;
}
.SiteBloqueado {
	background-color: #eee;
	border: 1px solid #ccc;
	margin: 20% auto;
	text-align: center;
	padding: 5px 5px;
	font: 12px Georgia;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:300px;
}
/*No Borrar*/
body {
	background-color: #000;
}
.textos {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #EAC9D0;
	text-align: center;
	font-weight: bold;
}
#menuv {
	width: 280px;
	z-index:2;
	font-size:15px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	position:absolute;
}
#menuv ul, li {
	list-style-type: none;
	z-index:2;
	background:url(imagenes/menu.jpg) no-repeat;
}
#menuv ul {
	margin: 0;
	padding: 0;
}
#menuv a {
	text-decoration: none;
	color: #EAC9D0;
	display: block;
	text-align:center;
	padding:35px 0px;
	margin:-10px 0px;
	width: 280px;
}
#menuv a:hover {
	color:#BF6B85;
	font-size:15px;
}
#menuv a#primero {
	background:url(imagenes/menu-i.jpg) no-repeat;
	width: 280px;
	color:#BF6B85;
}
.footer {
	background:url(imagenes/piedepagina.jpg) no-repeat center;
}
#menuh {
	float:right;
	font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:-25px 30px;
}
#menuh ul, li {
	list-style-type: none;
}
#menuh ul {
	margin: 0;
	padding: 0;
}
#menuh li {
	float: left;
}
#menuh a {
	text-decoration: none;
	color:#FFF;
	display: block;
	padding: 3px 10px;
	text-align: center;
	background:url(imagenes/fondo-footer.gif) repeat;
}
#menuh a#primero {
	color:#EAC9D0;
	font-weight:bold;
}
#menuh a:hover {
	color: #EAC9D0;
}