@charset "utf-8";
/* CSS3 Buttons Without Images */
.bloque{
	float:left;
	padding:15px 10px;
}
.bloque a, .bloque a:link, .bloque a:visited {
	margin:0 auto 0 auto;
	width:150px;
	height:40px;
	text-align:center;
	overflow:hidden;
	padding-top:15px;
	display:block;
	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
}
.bloque a:hover {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}
.botones {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
	padding:5px 5px 5px 5px;
}
.botones:hover {
	background:rgba(240,240,240,1);
}
.botones:active, .botones:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}
.botones:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}
.titulo{
	text-align:left;
	position:relative;
	color: #4B4B4B;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	margin:10px 70px;
}
.subtitulo{
	text-align:left;
	color: #4B4B4B;
	font-family: Tahoma;
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
	margin:10px 70px;
	/**/
	height:30px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	background:#E9E9E9;
	padding: 0px 20px;
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
}
.textoform{
	text-align:right;
	position:relative;
	color: #4B4B4B;
	font-family: Tahoma;
	font-size: 14px;
	font-weight:bold;
	padding:0px 5px;
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
}
.selectform{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
	padding:5px 5px 5px 5px;
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
}
#textareaform{
	background: url(utilidades/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 189px;
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
}
#textareaform2{
	background: url(utilidades/form_textarea.gif) no-repeat;
	border: none;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 97px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 189px;
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
}
.bloque_lugar{
	border:1px #CCC solid;
	height:220px;
	width:230px;
	display:block;
	padding:5px 5px;
	overflow : hidden;
	overflow-y : scroll;
	overflow : -moz-scrollbars-vertica;
	margin:10px 0px;
}
.bloque_lugar a{
	color:#999;
}
.bloque_lugar a:hover{
	color:#000;
}
.bloque_caracteristicas{
	border:1px #CCC solid;
	min-height:100px;
	max-height:600px;
	min-width:400px;
	max-width:100%;
	display:block;
	padding:5px 5px;
	overflow : hidden;
	overflow-y : scroll;
	overflow : -moz-scrollbars-vertica;
	margin:10px 0px;
}